<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calling</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
  </head>
  <style>
      body {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background: linear-gradient(to top left, #42A5F5, #0D47A1);
          background-repeat: cover;
          color: white;
          font-family: 'Roboto', sans-serif;
      }
  </style>
  <body id="body">
  <div>
    <h1>Calling {{.Name}}...</h1>
    <br/><br/>
    <div id="back"><a href="/">Back</a></div>
  </div>
</body>

</html>
